@page "/account/make-exchange/configure-payment"

@inject Backend backend

@if(Currencies is null)
{
    <span>Loading...</span>
}
else
{
    <span>There are @Currencies.Count() currencies available</span>
    <span>@ChangeCurrencyId</span> <br>
    <span>@Amount</span> <br>
    <span>@BaseCurrencyId</span> <br>
    <span>
        Here to configure payment... <br>
        <span>Base currency: @Currencies.Where(c => c.Id == BaseCurrencyId).FirstOrDefault()?.Symbol</span> <br>
        <span>Change currency:@Currencies.Where(c => c.Id == ChangeCurrencyId).FirstOrDefault()?.Symbol</span> <br>
        <span>Transaction Amount: @Amount</span> <br>
    </span>
}

@code{

    [Parameter] public int ChangeCurrencyId { get; set; }
    [Parameter] public int BaseCurrencyId { get; set; }
    [Parameter] public double Amount { get; set; }

    public List<Currency> Currencies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Currencies = await backend.ListCurrencies();
    }
}

